<form class="w-50 mx-auto">
  <h3 class="text-center my-2">Add a Link</h3>

  <div class="mb-3">
    <label class="form-label" for="title">Title:</label>
    <input class="form-control" name="title" id="title" #newTitle />
  </div>

  <div class="mb-3">
    <label class="form-label" for="link">Link:</label>
    <input class="form-control" name="link" id="link" #newLink />
  </div>
  <div class="mb-3">
    <button (click)="addArticle(newTitle, newLink)" class="btn btn-primary">
      Submit
    </button>
  </div>
</form>
<app-article
  style="max-width: max-content"
  *ngFor="let article of sortedArticles()"
  [article]="article"
></app-article>
